body {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #000000;
}

.box {
    height: auto;
    width: 320px;
    margin: auto;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(242,146,2,0.6);
    border-radius: 5px;
}

.errors {
	height: auto;
	margin: auto;
	margin-bottom: 10px;
	padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,125,125,0.6);
}

.post {
    margin: 0 20px 0 20px;
    padding-bottom: 40px
}

.title {
    padding: 10px;
    font-size: 30px;
    font-family: Bastion;
}